*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Roboto Condensed', sans-serif;
}




/* 
Styling for Home section
*/

#Home {
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: url(../images/edited_background_image.jpg);
}
.image_container {
	height: 100%;
	text-align: center;
}
.profile_image_wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50vw;
    height: 50vh;
    margin: auto;
    position: absolute;
}
.profile_image {
    width: 200px;
    border-radius: 20%;
	border: solid 3px rgb(221, 221, 221);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
}
#jzhuo_profile_description {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);
}
.custom_cv_button  {
	color: rgb(221, 221, 221);
	background-color: #18202b;
    font-weight: bold !important;
}
.custom_cv_button:hover {
	color: #18202b;
	background-color: rgb(221, 221, 221);
	border: 1px solid rgb(221, 221, 221);
}



/* 
Styling for Experience section
*/

#Experience {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #ffe5d4, #ffe5d4 50%, #e6f5ff 50%, #e6f5ff);
}
.experience_container {
    height: 100%;
    margin-top: 48px;
    background: rgba(15, 20, 27, 0.9); 
}
.timeline_header {
    padding: 36px 16px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.timeline_header_text {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
/* CSS for timeline body */
#Experience .container {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
#Experience .container .container :before {
    top: 0;
    left: 50%;
    width: 2px;
    content: '';
    height: 100%;
    margin-left: -1px;
    position: absolute;
    background: linear-gradient(to right, #ffe5d4, #ffe5d4 50%, #e6f5ff 50%, #e6f5ff);
}
/* @media screen and (max-width: 768px) {
    #Experience .container .container {
        left: 8px;
    }
    #Experience .container .container :before {
        left: 8px;
        width: 2px;
        padding-left: 0px;
        padding-right: 0px;
    }
} */
@media (max-width: 1200px) {
    #Experience .container .container {
        width: 1140px;
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 992px){
    #Experience .container .container {
        width: 960px;
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 768px) {
    #Experience .container .container {
        width: 1140px;
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #Experience .container .container {
        left: 8px;
    }
    #Experience .container .container :before {
        left: 8px;
        width: 2px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 576px){
    #Experience .container.container {
        width: 960px;
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
/* CSS for timeline_items */
.timeline_item_right {
    clear: both;
    float: right;
    display: flex;
    width: calc(50% + 8px);
    justify-content: space-between;
}
.timeline_item_left {
    clear: both;
    float: left;
    display: flex;
    direction: rtl;
    width: calc(50% + 8px);
    justify-content: space-between;
}
.timeline_item_circle {
    width: 16px;
    height: 16px;
    z-index: 300;
    margin-top: 10px;
    border-radius: 75%;
    border: 2px solid white;
    background: linear-gradient(to right, #ccebff, #ccebff 50%, #ffe5d4 50%, #ffe5d4);
}
@media screen and (max-width: 768px) {
    .timeline_item_right {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline_item_left {
        width: 100%;
        float: none;
        direction: ltr;
        margin-bottom: 30px;
    }
}
.timeline_item_body_container {
    width: 95%;
    direction: ltr;
    padding: 0 15px;
}
.timeline_item_body_position {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 0;
    color: white;
}
.timeline_item_body_company {
    font-size: 16px;
    color: white;
}
.timeline_item_body_time {
    font-size: 14px;
    color: white;
}
.timeline_item_body_description {
    margin-top: 0;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    line-height: 1.5;
    word-spacing: 1px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    color: white;
}
.timeline_item_body_description li {
    margin: 5px 0px;
}


/* 
Styling for Experience section
*/

#Projects {
	background-color: #f4f4f4;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	width: 100vw;
}