/*

    This is the css for the navigation bar

*/

#nav_bar_wrapper {
	width: 100%;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
	background-color: #1b242f;
    z-index:999;
    display: block;
    box-sizing: border-box;
}

.icon-bar {
	background-color: rgb(221, 221, 221);
}

#header_name {
	color: rgb(221, 221, 221);
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
	display: block;
}

#mb-navbar .active_link {
	color: 	#38ACEC;
	font-size: 18px;
    font-weight: 700;
	background-color: transparent;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
}

#mb-navbar .passive_link {
	color: rgb(221, 221, 221);
	font-size: 18px;
    font-weight: 700;
	background-color: transparent;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
}

#mb-navbar .hover_link:hover {
	color: #38ACEC;
}

#mb-navbar .hover_link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #38ACEC;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#mb-navbar .hover_link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/*

    This is the css for the general sections

*/

.section_headers {
	background-image: initial;
  	background-position-x: initial;
  	background-position-y: initial;
  	background-size: initial;
  	background-repeat-x: initial;
  	background-repeat-y: initial;
  	background-attachment: initial;
  	background-origin: initial;
  	background-clip: initial;
	box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
	font-size: 30px;
  	color: rgb(221, 221, 221);
  	margin-top: 1em;
  	letter-spacing: 3px;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
  	line-height: 1.5;
	margin-bottom: 1em;
	box-sizing: border-box;
	display: block;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%
}

#section_header_separator { 
	border-top: 2px solid rgb(221, 191, 191);
	border-bottom: 2px solid rgb(221, 191, 191);
	margin-top: 1em;
	margin-bottom: 1em;
}

.education_body_wrapper {
  	padding-bottom: 3em;
	position: relative;
  	min-height: 1px;
	box-sizing: border-box;
	display: block;
	padding-left: 18%;
	padding-right: 18%;
}

.section_body_wrapper {
  	padding-bottom: 3em;
	position: relative;
  	min-height: 1px;
	box-sizing: border-box;
	display: block;
}

.cv_item_list {
    box-sizing: border-box;
    display: block;
    list-style-type: none;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 3em;
    margin-bottom: 1em;
}

.cv_item_list li ul {
	overflow: auto;
	clear: both;
	padding-left: 40px;
	padding-right: 40px;
}

.cv_item_first {
	display: inline-block;
	float: left;
	font-size: 24px;
	color: rgb(221, 221, 221);
    font-weight: 400;
    box-sizing: border-box;
}

.cv_item_second {
	display: inline-block;
	float: right;
	font-size: 20px;
	color: rgb(221, 221, 221);
    font-weight: 400;
    box-sizing: border-box;
	margin-top: .15em;
}

.cv_item_third {
    display: inline-block;
    font-size: 20px;
    color: rgb(221, 221, 221);
    margin-top: .8em;
    font-weight: 400;
    box-sizing: border-box;
    float: left;
}

.cv_item_fourth {
    display: inline-block;
    font-size: 20px;
    color: rgb(221, 221, 221);
    margin-top: .8em;
    font-weight: 400;
    box-sizing: border-box;
    float: right;
}

.cv_item_bullets {
	overflow: auto;
	clear: both;
    display: inline-block;
    font-size: 16px;
    color: rgb(221, 221, 221);
    margin-top: .8em;
    font-weight: 400;
    box-sizing: border-box;
    float: left;	
}

/*

    This is the css for the Home section

*/

#Home {
	overflow: auto;
	clear: both;
	height: 100%;
	min-height:100vh;
	background-color: #1b242f;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#home_page_wrapper {
    width: 100%;
    height: 100vh;
	display: table;
	box-sizing: border-box;
}

#center_wrapper {
    vertical-align: middle;
    padding-top: 20px;
	position: relative;
    display: table-cell;
}

#profile_image img {	
	width: 170px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
	border-radius: 25%;
	border: solid 3px rgb(221, 221, 221);
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#jzhuo_profile_description {
	font-size: 50px;
	font-weight: 700;
    line-height: 1.2;
	font-family: inherit;
	box-sizing: border-box;
	display: inline-block;
	box-sizing: border-box;
    color: rgb(221, 221, 221);
}

/*

	This is the css for the Education section

*/

#Education {
	overflow: auto;
	clear: both;
	height: 100%;
	min-height:75vh;
	background-color: #2f3c4a;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

#education_header_container {
	padding-top: 3em;	
}

#jzhuo_information {
	overflow:auto;
	clear:both;
	background: rgba(23, 20, 20, .58);
  	margin-top: 11%;
	box-sizing: border-box;
	display: block;
	margin-left: 18%;
	margin-right: 18%;
}

#education_information_list {
	box-sizing: border-box;
	display: block;
  	list-style-type: none;
	padding-top: 0.5em;
	padding-right: 0px;
  	padding-bottom: 0px;
  	padding-left: 0px;
	margin-top: 2em;
	margin-bottom: 1em;
  	border-top: 4px solid rgb(221, 191, 191);
}

#education_information_list li {
	display: block;
	text-align: -webkit-match-parent;
	box-sizing: border-box;
	overflow: auto;
	clear: both;
}

#education_info_text {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
  	padding-right: 0px;
  	padding-bottom: 0px;
  	padding-left: 0px;
	box-sizing: border-box;
	list-style: none;
	display: block;
}

#education_info_text .university_name {
	display: inline-block;
  	font-size: 24px;
  	color: rgb(221, 221, 221);
  	margin-top: 1em;
  	font-weight: 400;
	box-sizing: border-box;
	float: left;
}

#education_info_text .university_name b{
	color: rgb(221, 221, 221);
	font-weight: bold;
	box-sizing: border-box;
}

#education_info_text .university_location {
	display: inline-block;
  	font-size: 20px;
  	color: rgb(221, 221, 221);
  	margin-top: -1.5em;
  	font-weight: 400;
	box-sizing: border-box;
	float: right;
}

#education_info_text .school_majors {
	display: inline-block;
  	font-size: 20px;
  	color: rgb(221, 221, 221);
  	margin-top: .8em;
  	font-weight: 400;
	box-sizing: border-box;
	float: left;
}

#education_info_text .graduation_date {
	display: inline-block;
  	font-size: 20px;
  	color: rgb(221, 221, 221);
  	margin-top: -1.5em;
  	font-weight: 400;
	box-sizing: border-box;
	float: right;
}

#education_info_text #honors_college {
	display: inline-block;
  	font-size: 20px;
  	color: rgb(221, 221, 221);
  	margin-top: .8em;
  	font-weight: 400;
	box-sizing: border-box;
	float: left;
}

/*

	Beginning of the css for the Experience section in the body

*/

#Experience {
	overflow: auto;
	clear: both;
	height: 100%;
	background-color: #1b242f;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 5%;
}

#experience_header_container {
	padding-top: 3em;	
}
	
#Projects {
	overflow: auto;
	clear: both;
	height: 100%;
	background-color: #2f3c4a;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 5%;
}

#projects_header_container {
	padding-top: 3em;	
}

#Skills {
	overflow: auto;
	clear: both;
	height: 100%;
	min-height: 100vh;
	background-color: #1b242f;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 5%;
}

.animation {
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
    	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}
