/* css for the navbar */

/* background color for the navbar */
.navbar_header {
	background-color: #18202b;
	position: fixed;
	width: 100vw;
	z-index: 9999;
}

/* color for the navbar icon when collapsed */
.icon-bar {
	background-color: rgb(221, 221, 221);
}

/* color for the brand */
#brand_name {
	color: rgb(221, 221, 221);
	font-family: 'Roboto Condensed', sans-serif;
}

#mb-navbar .active_link {
	color: 	#38ACEC;
	background-color: transparent;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

#mb-navbar .passive_link {
	color: rgb(221, 221, 221);
	background-color: transparent;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

#mb-navbar .hover_link:hover {
	color: #38ACEC;
}

#mb-navbar .hover_link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 10px;
	left: 0;
	background-color: #38ACEC;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#mb-navbar .hover_link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}