*, *:before, *:after {
    box-sizing: inherit;
}

#first_box{
	background-color: #1b242f;
	min-height: 650px;
    position: relative;
    box-sizing: border-box;
    display: block;   
}

#first_box_container{
    width: 750px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#header_container{
	padding: 2em 0;
    display: block;
}

#header_box{
	box-sizing: border-box;
	display: block;
}

#jzhuo_name_link{
    float: left;
    box-sizing: border-box;
    display: block;
}

#jzhuo_name_link h1{
	font-size: 36px;
    box-sizing: border-box;
    display: block;
	margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Asap', sans-serif;
}

#jzhuo_name_link h1 a{
	text-decoration: none;
    color: #ffffff;
}

#jzhuo_name_link span {
    border: 5px solid #7FDBFF;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #ffffff;
}

#navigation_bar {
    float: right;
    display: block;
    box-sizing: border-box;
}

#navigation_list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    display: block;
    box-sizing: border-box;
}

.active_link {
    display: inline-block;
    position: relative;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
}

#navigation_bar ul li.active_link a {
    color: #7FDBFF;
    font-size: 0.9em;
    text-decoration: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: block;
    margin: 6px 4px;
    text-shadow: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: transparent;
    cursor: pointer;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
}

#jzhuo_personal_info_container{
    background: rgba(47, 44, 44, 0.58);
    margin-top: 3em;
    box-sizing: border-box;
    display: block;
}

#jzhuo_info_left_column{
    padding-left: 3em;
    float: left;
    width: 50%;
    padding: 2em;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
}

#jzhuo_info_left_column h1 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0.5em 0 0;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#jzhuo_info_left_column h6{
    font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    box-sizing: border-box;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
}

.jzhuo_detailed_information_list{
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.personal_information_text{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    list-style-type: circle;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    display: block;
}

ul.jzhuo_detailed_information_list li ul.personal_information_text .title_text {
    width: 26%;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 1em;
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 400;
    text-align: -webkit-match-parent;
}

ul.personal_information_text b {
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
}     

ul.jzhuo_detailed_information_list li ul.personal_information_text .info_text {
    display: inline-block;
    font-size: 0.9em;
    margin-top: 1em;
    color: #ffffff;
    font-weight: 400;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
}

#jzhuo_info_right_column{
    padding: 2em 2em 0em 0;
    float: right;
    width: 49%;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
}

#jzhuo_self_image{
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}








































