*, *:before, *:after {
    box-sizing: inherit;
}

#first_box{
	background-color: #1b242f;
	min-height: 650px;
    position: relative;
    box-sizing: border-box;
    display: block;   
}

#first_box_container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#header_container{
	padding: 2em 0;
    display: block;
}

#header_box{
	box-sizing: border-box;
	display: block;
}

#jzhuo_name_link{
    float: left;
    box-sizing: border-box;
    display: block;
}

#jzhuo_name_link h1{
	font-size: 36px;
    box-sizing: border-box;
    display: block;
	margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Asap', sans-serif;
}

#jzhuo_name_link h1 a{
	text-decoration: none;
    color: #ffffff;
}

/* not sure if i need this or what this does
#body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
} 
*/

#jzhuo_name_link span {
    border: 5px solid #7FDBFF;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #ffffff;
}

#navigation_bar {
    float: right;
    display: block;
    box-sizing: border-box;
}





















