/* 

This is the css file for the top of the page.
The first bar on the page.

*/

#top_page {
	background-color: #1b242f;
	min-height: 550px;
    position: relative;
    box-sizing: content-box;
    display: block;   
    -webkit-background-size: cover;
    width: cover;
}

#top_page_container {
    padding-top: 2em;
    padding-right: 15px;
    padding-bottom: 2em;
    padding-left: 15px;
    margin-left: 20%;
	margin-right: 20%;
    box-sizing: border-box;
    display: block;
}

#nav_bar {
    display:block;
    box-sizing: border-box;
}

#jzhuo_name_left {
	float: left;
	box-sizing: border-box;
	dsplay: block;
}

#jzhuo_name_left h1 {
	margin: 0;
	font-weight: bold;
	color: #ffffff;
	font-family: 'Asap', sans-serif;
	font-size: 36px;
	line-height: 1.1;
	box-sizing: border-box;
	display: block;
}

#jzhuo_name_left h1 a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: 0.5s all;
	background: transparent;
	box-sizing: border-box;
	cursor: pointer;
}

#jzhuo_name_left h1 a span {
	border: 5px solid #00BFFF;
	padding-top: 0px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 14px;
	font-size: 1em;
	color: #ffffff;
	box-sizing: border-box;
}

#nav_items_right {
	float: right;
	box-sizing: border-box;
	display: block;
}

#nav_links {
	display: block;
	box-sizing: border-box;
}

#nav_links_list {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	box-sizing: border-box;
	display: block;
}

#active_home_link {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	text-align: inherit;
}	

#active_home_link a {
	color: #00BFFF;
	font-size: 0.9em;
	padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 0px;
   	padding-left: 0px;
	text-transform: uppercase;
    	font-family: 'Open Sans', sans-serif;
	position: relative;
    	display: block;
	margin-top: 6px;
    	margin-right: 4px;
    	margin-bottom: 6px;
    	margin-left: 4px;
	text-shadow: none;
	text-decoration: underline;
	background: transparent;
	cursor: pointer;
	box-sizing: border-box;
}

.scroll_link {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	text-align: inherit;
}

.scroll_link a {
	color: #ffffff;
	font-size: 0.9em;
	text-decoration: none;
	padding-top: 0px;
    	padding-right: 0px;
    	padding-bottom: 0px;
   	padding-left: 0px;
    	text-transform: uppercase;
    	font-family: 'Open Sans', sans-serif;
	position: relative;
    	display: block;
	margin-top: 6px;
    	margin-right: 4px;
    	margin-bottom: 6px;
    	margin-left: 4px;
	text-shadow: none;
	background: transparent;
	cursor: pointer;
	box-sizing: border-box;
}










