#top_page{
	background-color: #1b242f;
	min-height: 550px;
    position: relative;
    box-sizing: border-box;
    display: block;   
    -webkit-background-size: cover;
}

#top_page_container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}
































